<footer class="container-fluid bs-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 copyright">
				<ul>
					<li>© 2014 powered by entrepreneurclub.tw</li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-4 general-links">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-4 social-links">
				<ul>
					<li><a href="" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
					<li><a href="" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" type="text/css" href="/styles/footer-bs.css">