.about {
	.about-list {
		float: left;
	}

	.about-content {
		width: 80%;
		float: left;
		border-left: 1px solid #000;
		padding-left: 10px;
		margin-left: 10px;
	}

	&:after {
		content: ' ';
		visibility: hidden;
		display: block;
		clear: both;
	}
}