<script type="text/javascript">
	$.getScript('http://www.google.com/recaptcha/api/js/recaptcha_ajax.js', function() {
		Recaptcha.create('6LeVgfkSAAAAAL3-W5fDL0gbngKaFzqs4Aw7KVWn', 'recaptcha_display', {
			theme: 'red'
		});
	});
</script>

<h1>{{'TITLE_REGISTER'|translate}}</h1>

<form name="fm" ng-submit="submit(fm)" novalidate>
	<p>
		<label>
			{{'FORM_EMAIL'|translate}}*
			<input
				name="email" type="email" placeholder="your_email@example.com"
				ng-model="form.email" ng-minlength="3" ng-maxlength="63" required
				ng-class="{
					'validation-error': (fm.email.$dirty && fm.email.$invalid) || error.isEmailExist,
					'validation-succ': fm.email.$dirty && fm.email.$valid
				}"
				ng-change="resetEmail(fm)">
		</label>
		<span ng-show="fm.email.$dirty">
			<span ng-show="fm.email.$valid">V</span>
			<span ng-show="fm.email.$invalid">X</span>
			<span ng-show="fm.email.$error.required">{{'MSG_REQUIRED'|translate}}</span>
			<span ng-show="fm.email.$error.email">{{'MSG_NOT_AN_EMAIL'|translate}}</span>
			<span ng-show="fm.email.$error.minlength">{{'MSG_TOO_SHORT'|translate}}</span>
			<span ng-show="fm.email.$error.maxlength">{{'MSG_TOO_LONG'|translate}}</span>
			<span ng-show="fm.email.$error.sending">Cannot send mail to the address</span>
		</span>
		<span ng-show="fm.email.$error.exist">Email already exist</span>
	</p>
	<p>
		<label>
			{{'FORM_PASSWORD'|translate}}*
			<input
				name="password" type="password" placeholder="Password"
				ng-model="form.password" ng-minlength="7" ng-maxlength="20" required
				ng-class="{
					'validation-error': fm.password.$dirty && fm.password.$invalid,
					'validation-succ': fm.password.$dirty && fm.password.$valid
				}">
		</label>
		<span ng-show="fm.password.$dirty">
			<span ng-show="fm.password.$valid">V</span>
			<span ng-show="fm.password.$invalid">X</span>
			<span ng-show="fm.password.$error.required">{{'MSG_REQUIRED'|translate}}</span>
			<span ng-show="fm.password.$error.minlength">{{'MSG_TOO_SHORT'|translate}}</span>
			<span ng-show="fm.password.$error.maxlength">{{'MSG_TOO_LONG'|translate}}</span>
		</span>
	</p>
	<p>
		<label>
			{{'FORM_CONFIRM'|translate}}*
			<input
				name="confirm" type="password" placeholder="Confirm"
				ng-model="form.confirm" ng-minlength="7" ng-maxlength="20" required
				ng-class="{
					'validation-error': fm.confirm.$dirty && (fm.password.$invalid || (form.confirm != form.password)),
					'validation-succ': fm.confirm.$dirty && fm.password.$valid && (form.confirm == form.password)
				}">
		</label>
		<span ng-show="fm.confirm.$dirty">
			<span ng-show="fm.password.$valid && (form.confirm == form.password)">V</span>
			<span ng-show="fm.password.$invalid || (form.confirm != form.password)">X</span>
			<span ng-show="fm.password.$invalid || (form.confirm != form.password)">{{'MSG_PASSWORD_CONFLICT'|translate}}</span>
		</span>
		</label>
	</p>
	<p>
		<label>
			{{'FORM_NAME'|translate}}*
			<input
				name="name" type="text" placeholder="Name"
				ng-model="form.name" ng-minlength="2" ng-maxlength="16" required
				ng-class="{
					'validation-error': fm.name.$dirty && fm.name.$invalid,
					'validation-succ': fm.name.$dirty && fm.name.$valid
				}">
		</label>
		<span ng-show="fm.name.$dirty">
			<span ng-show="fm.name.$valid">V</span>
			<span ng-show="fm.name.$invalid">X</span>
			<span ng-show="fm.name.$error.required">{{'MSG_REQUIRED'|translate}}</span>
			<span ng-show="fm.name.$error.minlength">{{'MSG_TOO_SHORT'|translate}}</span>
			<span ng-show="fm.name.$error.maxlength">{{'MSG_TOO_LONG'|translate}}</span>
		</span>
	</p>
	<p>
		<label>{{'FORM_SEX'|translate}}*</label>
		<label><input type="radio" value="0" ng-model="form.sex">{{'FORM_SEX_MALE'|translate}}</label>
		<label><input type="radio" value="1" ng-model="form.sex">{{'FORM_SEX_FEMALE'|translate}}</label>
	</p>
	<p>
		<label>
			{{'FORM_BIRTHDAY'|translate}}
			<input type="date" ng-model="form.birthday">
		</label>
	</p>
	<p>
		<label>
			{{'FORM_PHONE'|translate}}
			<input
				name="phone" type="text" placeholder="Phone"
				ng-model="form.phone" ng-maxlength="20"
				ng-class="{
					'validation-error': fm.phone.$dirty && fm.phone.$invalid,
					'validation-succ': fm.phone.$dirty && fm.phone.$valid
				}">
		</label>
		<span ng-show="fm.phone.$dirty">
			<span ng-show="fm.phone.$valid">V</span>
			<span ng-show="fm.phone.$invalid">X</span>
			<span ng-show="fm.phone.$error.maxlength">{{'MSG_TOO_LONG'|translate}}</span>
		</span>
	</p>
	<p>
		<label>
			{{'FORM_ADDRESS'|translate}}
			<input
				name="address" type="text" placeholder="Address"
				ng-model="form.address" ng-maxlength="127"
				ng-class="{
					'validation-error': fm.address.$dirty && fm.address.$invalid,
					'validation-succ': fm.address.$dirty && fm.address.$valid
				}">
		</label>
		<span ng-show="fm.address.$dirty">
			<span ng-show="fm.address.$valid">V</span>
			<span ng-show="fm.address.$invalid">X</span>
			<span ng-show="fm.address.$error.maxlength">{{'MSG_TOO_LONG'|translate}}</span>
		</span>
	</p>
	<p>
		<label>
			<input name="agree" type="checkbox" ng-model="isAgree" required>*{{'FORM_AGREE_DES'|translate}}<a href="/policies/terms" target="_new">{{'FORM_AGREE_LINK'|translate}}</a>
		</label>
		<span ng-show="fm.agree.$dirty">
			<span ng-show="fm.agree.$invalid">X</span>
			<span ng-show="fm.agree.$error.required">{{'MSG_MUST_AGREE'|translate}}</span>
		</span>
	</p>
	<p>
		<div id="recaptcha_display"></div>
		<span ng-show="error.isWrongCaptcha">{{error.msg}}</span>
	</p>
	<p>
		<input type="submit" value="{{'FORM_REGISTER'|translate}}" ng-disabled="fm.$invalid || (form.password != form.confirm)">
	</p>
</form>